<div *ngFor="let c of listaContas">

    {{c.saldo}}
    <br>
    <span [ngStyle]="{'font-weight': c.saldo < 0 ? 'bold' : 'normal'}" >
        Saldo no Component Pai: {{ c.saldo }}
    </span>
    <br>
    <app-conta [(valor)]="c.saldo" [nomeBanco]="c.nomeBanco"></app-conta> 
</div>

<!-- <div>
    Santander:
    <br>
    Saldo no Component Pai: {{contaSantander}}
    <br>
    <app-conta  nomeBanco="Santander" (valorNegativo)="imprimeEvento($event)" [(valor)]="contaSantander"> </app-conta>
</div> -->